@import "tailwindcss";

/* Font */
@font-face {
  font-family: "KeynocchioFont";
  src: url("/fonts/myFont.ttf") format("truetype");
}

body {
  font-family: "KeynocchioFont", sans-serif;
  color: white;
}

/* Background tile animation */
.bg-tile {
  background-image: url("/images/website-background.png");
  background-repeat: repeat;
  background-size: 600px 600px;
  animation: drift 80s linear infinite;
}

@keyframes drift {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -600px -600px;
  }
}

/* ===== INFINITE ART BANNER ===== */

.art-track {
  display: flex;
  width: max-content;
  animation: scroll 90s linear infinite;
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.art-item {
  height: 60vh;
  width: auto;
  flex-shrink: 0;
  user-select: none;
  pointer-events: none;

  animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0.1;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}